.bg-black{
    background-color: #000000  !important;
    background-color: #000000;

}
.image-taille{
    width: 1920px;
    height: 1080px;
}
.bg-carousel-1{
    background-image: url(medias/plantation.jpg) ;
    background-size: cover;
    background-position: center;
    height: 700px;
    }