.bg-service-6{
    background-image: url("medias/background-pret-vehicule.jpg");
    background-position: center;
    background-size: cover;
}
.bg-service-5{
    background-image: url("medias/bg-entretien.jpg");
    background-position: center;
    background-size: cover;
}

.bg-service-4{
    background-image: url("medias/mercedes-rouge.jpg");
    background-position: start;
    background-size: cover;
}

.h-600-px{
    min-height: 600px;
}



.h-500-px{
    min-height: 500px;
    
}

.h-300-px{
    min-height: 400px;

}